@font-face {
    font-family: "Thin";
    src: url("./assets/fonts/Jost-Thin.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("./assets/fonts/Jost-Regular.ttf");
}

@font-face {
    font-family: "Medium";
    src: url("./assets/fonts/Jost-Medium.ttf");
}

@font-face {
    font-family: "Bold";
    src: url("./assets/fonts/Jost-Bold.ttf");
}

@font-face {
    font-family: "GE_Regular";
    src: url("./assets/fonts/GE_Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.3px;
    -webkit-tap-highlight-color: transparent;
}

body {
    color: #fff;
    user-select: none;
    background: #282525;
    font-family: 'Medium';
}

.ReactModal__Overlay  {
    top: 0;
    left: 0;
    height: 100%;
    border: none !important;
    outline: none !important;
    backdrop-filter: blur(2px);
    background: #000000bf !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #282525 inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #fff !important;
}

.ReactModal__Body--open {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}