.header {
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.exit {
    cursor: pointer;
}

.exit:hover {
    color: #7c6363;
    transition: all .2s ease-in-out;
}

.auth {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 240px;
    margin: auto;
    height: 100%;
    justify-content: center;
}

@media only screen and (max-width: 660px) {
    .auth {
        flex-direction: column;
    }
}