.button {
    height: fit-content;
    padding: 12px 25px;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Medium';
    background: antiquewhite;
    transition: all .2s ease-in-out;
}

.button:hover {
    background: rgb(227, 211, 190);
}