.content {
    width: 400px;
    margin: auto;
    margin-top: 40px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.content .item:last-child {
    border-bottom: none;
}

.item:first-child {
    border-top: none;
}

.item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Regular";
    justify-content: center;
    border: 1px solid var(--main-color);
    border-bottom: transparent;
}

.foreign,
.national {
    width: 45%;
}

.wordWrap {
    padding: 0 3px;
}

.isExchanged .wordWrap {
    order: 1;
}

.isExchanged .national {
    order: 2;
    margin-left: 0;
    font-family: "GE_Regular";
}

.isExchanged .foreign {
    order: 0;
    margin-left: 20px;
}

.content::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .content {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
@media only screen and (max-width: 660px) {
    .content {
        width: 90%;
        max-height: calc(100% - 80px);
        margin-top: 60px;
        overflow: auto;
    }
}