.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup {
    width: 80%;
}

.formGroup input {
    width: 100%;
}

.form button {
    width: 80%;
}

.error {
    display: block;
    color: red;
    font-size: 13px;
    padding-top: 2px;
}