.main {
    width: 90%;
    margin: 0 auto;
}

.main form {
    display: flex;
}

.main form div {
    margin-right: 20px;
} 

.items {
    width: 596px;
    margin-top: 20px;
    border-radius: 5px;
    height: max-content;
    border: 1px solid antiquewhite;
}

.items.empty {
    border: none;
}

.items:last-child {
    border-bottom: none;
}

.rowHeader {
    width: 596px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row h1 {
    margin-top: 20px;
}

.fullScreen {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    background: url('../../assets/images/icons/fullScreen.png');
}

.fullScreen:hover {
    background: url('../../assets/images/icons/fullScreenHover.png');
}

.item {
    width: 596px;
    height: 50px;
    display: flex;
    align-items: center;
    font-family: "Regular";
    border-bottom: 1px solid antiquewhite;
}

.national {
    width: 240px;
    margin-left: 20px;
    font-family: "GE_Regular";
}

.foreign {
    width: 240px;
}

.search {
    margin-top: 20px;
}

.options {
    width: 13%;
    display: flex;
    justify-content: flex-end;
}

.favorite {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: all .2s ease-in-out;
    background: url('../../assets/images/icons/star.png');
}

.favorite:hover {
    background: url('../../assets/images/icons/starHover.png');
}

.remove {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: url('../../assets/images/icons/trash.png');
}

.remove:hover {
    background: url('../../assets/images/icons/trashHover.png');
}

.edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: all .2s ease-in-out;
    background: url('../../assets/images/icons/edit.png');
}

.edit:hover {
    background: url('../../assets/images/icons/editHover.png');
}

.row {
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 1100px) {
    .row {
        flex-direction: column;
    }
}

@media only screen and (max-width: 660px) {
    .main form {
        flex-direction: column;
    }

    .main form div {
        margin-right: 0 ;
        margin-bottom: 10px;
    }

    .main form div input {
        width: 100%;
    }
    
    .item,
    .items {
        width: 100%;
    }

    
    .item {
        justify-content: space-between;
    }

    .item .options {
        width: 80px;
        margin-right: 15px;
    }

    .item .national {
        width: 30%;
    }

    .item .foreign {
        width: 30%;
    }
    .rowHeader {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .national, 
    .foreign {
        font-size: 13px;
    }
}